{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_page %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    {% block css_link %}{% endblock %}
</head>

<body>
    <header id='main-header'>   
        <nav>
            <a href="/meetups" id='main-logo'>Meetups Logo</a>
        </nav>
        <h1>{% block main_title %}{% endblock %}</h1>
        <p>{% block description %}{% endblock %}</p>
    </header>
    
    <main>
        {% block main_body %}{% endblock %}
    </main>
</body>
</html>